<div class="container">
    <div class="container">
    <%= button_to "RedirectFlows", {controller: 'redirect_flow', action: 'create'}, {class: 'flow-button', style: 'background-color: red;'} %>
    <%= button_to "BillingRequests", { controller: 'billing_request', action: "create" }, {class: 'flow-button', style: 'background-color: blue;'} %>
    </div>
</div>

